.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  height: 100%;
  flex-shrink: 0;
  width: 220px;
  background: #1e2636;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  background: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}