.sidebar{
  width:240px;
  background:#1e293b;
  color:white;
  padding:25px;
}

.logo{
  margin-bottom:30px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  padding:12px;
  border-radius:6px;
  cursor:pointer;
}

.sidebar li:hover{
  background:#334155;
}